@import "@/styles";

.not-found {
  background: url("../../static/404-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100vw;
  min-height: 100vh;

  .heading {
    color: white;
    font-size: 36px;
    margin-bottom: 32px;
  }

  .link {
    background-color: white;
    border: 2px solid white;
    color: black;
    font-size: 26px;
    font-weight: 500;
    padding: 12px 16px;

    @include non-touch {
      &:hover {
        background-color: rgba(white, 0.85);
      }

      &:active {
        background-color: white;
      }

      &:focus {
        outline-color: rgba(0, 163, 163, 0.7);
        outline-offset: 4px;
      }
    }
  }

  @include respond-to(max-width, 1024px) {
    .heading {
      font-size: 26px;
    }

    .link {
      font-size: 19px;
    }
  }
}
