@import "@/styles";

.navigation {
  background-color: rgba(black, 0.7);
  border-right: 1px solid rgba(white, 0.2);
  border-bottom: 1px solid rgba(white, 0.2);
  height: 80vh;
  width: 20%;
  padding: 8px 8px 32px;
  display: flex;
  flex-direction: column;
  z-index: 1006;
  min-width: 300px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;

  &.search {
    width: 70%;
  }
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
}

/* navigation buttons */
.nav-toggle,
.about-page-toggle {
  border: 0;
  background-color: white;
  padding: 4px 16px;
}

@include non-touch {
  .nav-toggle:not(.search-input):hover,
  .about-page-toggle:hover {
    background-color: rgba(white, 0.9);
  }

  .nav-toggle:not(.search-input):active,
  .about-page-toggle:active {
    background-color: rgba(white, 0.8);
  }
}

.nav-toggle {
  z-index: 1001;
  font-size: 24px;
  position: relative;
  top: 16px;
  left: 8px;
}

.about-page-toggle {
  margin-top: 24px;
  font-size: 20px;

  &.added-margin-left {
    margin-left: 8px;

    @include respond-to(max-width, 768px) {
      margin-left: 0;
    }
  }
}

/* when nav or about page is open */
.nav-toggle.nav-open {
  width: 100%;
  top: 0;
  left: 0;

  &.nav-sticky {
    position: sticky;
  }
}

.about-open {
  border: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;

  @include respond-to(min-width, 768px) {
    .about-page-toggle {
      max-width: 200px;
    }
  }
}

.search-input {
  margin: 20px 0;
  font-size: 20px;
  cursor: text;

  &:active,
  &:focus {
    outline: none;
  }
}

@include respond-to(max-width, 768px) {
  .navigation.search,
  .navigation {
    width: 100%;
    border: 0;
    min-width: 0;
  }

  .nav-toggle,
  .about-page-toggle {
    font-size: 18px;
  }
}

@include respond-to(max-height, 768px) {
  .navigation.search,
  .navigation {
    min-height: 100vh;
    width: 100%;
    border: 0;
    min-width: 0;
    overflow-y: scroll;
  }
}

