.not-found {
    background: url("../public/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	align-items: center;
    background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
    width: 100vw;
}

.not-found__heading {
    color: white;
    font-size: 36px;
    margin-bottom: 32px;
}

.not-found__link {
    background-color: white;
    border: 2px solid white;
    color: black;
    font-size: 26px;
    font-weight: 500;
    padding: 12px 16px;
}

.not-found__link:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.not-found__link:active {
    background-color: white;
}

.not-found__link:focus {
    outline-color: rgba(0, 163, 163, 0.7);
    outline-offset: 4px;
}
