/* viewer */
.fullSize {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	width: 100%;
	height: 100%
}

.cesium-viewer {
    font-family: sans-serif;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Cesium container */
.cesium-viewer-cesiumWidgetContainer {
    width: 100%;
    height: 100%;
}

/* Cesium attribution */
.cesium-viewer-bottom {
    display: block;
    position: absolute;
    right: 0;
    left: initial !important;
    z-index: 1001;
}

.cesium-widget-credits {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 10px;
    text-shadow: 0 0 2px #000;
    padding-right: 5px;
}

.cesium-viewer .cesium-widget-credits {
    display: flex;
    position: static;
    bottom: auto;
    left: auto;
    padding-right: 0;
    color: #fff;
    font-size: 10px;
    text-shadow: 0 0 2px #000;
    flex-direction: column-reverse;
    text-align: right;
}

.cesium-credit-expand-link {
    padding-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
}

.cesium-credit-textContainer {
    display: none !important;
}

.cesium-widget-credits a, .cesium-widget-credits a:visited {
    color: #fff;
}

/* Main canvas */
.cesium-widget, .cesium-widget canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

/* Data attribution information modal */
.cesium-credit-lightbox-overlay {
    display: none;
    z-index: 1002;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.8);
}

.cesium-credit-lightbox.cesium-credit-lightbox-expanded {
    border: 1px solid #444;
    border-radius: 5px;
    max-width: 370px;
}

.cesium-credit-lightbox-title {
    padding: 20px 20px 0 20px;
}

.cesium-credit-lightbox-close {
    font-size: 18pt;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 6px;
    color: #ffffff;
}

.cesium-credit-lightbox > ul {
    margin: 0;
    padding: 12px 20px 12px 40px;
    font-size: 13px;
}

.cesium-credit-lightbox > ul > li {
    padding-bottom: 6px;
}

.cesium-credit-lightbox > ul > li * {
    padding: 0;
    margin: 0;
}

/*
    turn off cesium attribution from the main screen
    and enable it in About page in navigation
*/
@media screen and (max-width: 800px) {
    .cesium-viewer-bottom {
        display: none;
        right: initial;
        bottom: 46px !important;
        left: 0;
        z-index: 1001;
    }

    .about-open .cesium-viewer-bottom {
        display: block;
        bottom: 0 !important;
        left: initial;
        right: 0;
        background-color: rgb(0, 0, 0);
    }
}
