.object-filtering {
    margin-top: 50px;
}

.title {
    font-size: 20px;
    margin-bottom: 8px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 16px;
}

.list-item {
    margin-bottom: 6px;
    font-size: 18px;
}