.object-filtering {
    margin-top: 50px;
}

.title {
    font-size: 20px;
    margin-bottom: 8px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 16px;
}

.list-item {
    margin-bottom: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.list-item label,
.list-item input {
    cursor: pointer;
}

.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 5px 0 4px;
}

@media screen and (max-width: 300px) {
    .list {
        padding-left: 0;
    }
}